<CascadingAuthenticationState>
    
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <PageTitle>Не найдено</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Здесь ничего нет.</p>
            </LayoutView>
        </NotFound>
    </Router>
    
</CascadingAuthenticationState>
