@inject NavigationManager _navManager

<header id="header">
    <nav class="navbar box-shadow mb-3">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Netial</a>
        <div class="container navbar">
            <div class="navbar-buttons-center">
                <Button IsLink="true" Href="/mypage" Selected="@CheckUri("/mypage")" Text="Моя страница"/>
                <Button IsLink="true" Href="/" Selected="@IsIndex()" Text="Новости"/>
                <Button IsLink="true" Href="/messenger" Selected="@CheckUri("/messenger")" Text="Сообщения"/>
            </div>
        </div>
    </nav>
</header>

@code {

    private bool CheckUri(string str) {
        return _navManager.Uri.Contains(str);
    }

    private bool IsIndex() {
        return _navManager.Uri == _navManager.BaseUri;
    }
}